@using SamMiller.Mumba.Models.BoardViewModels
@using System.Collections.Generic
@model BoardView


@{
ViewData["Title"] = $"{Model.Board.Title}" ;
}
<div class=row>
    <div>
        <a asp-action=Edit asp-route-id="@Model.Board.Id" class="waves-effect waves-light btn"> Edit <i class="material-icons">edit</i></a>
    </div>
    <div>
        <a asp-action=Delete asp-route-id="@Model.Board.Id" class="waves-effect waves-light red btn"> Delete <i class="material-icons">delete</i></a>
    </div>
</div>
<div class="fixed-action-btn">
    <a asp-action=Add asp-controller="Tasks" asp-route-id="@Model.Board.Id" class="btn-floating btn-large waves-effect waves-light red"><i
            class="large material-icons">add</i></a>
</div>
<div class="row">
    <ul class="collection with-header col s12 m4 l4">
        <li class="collection-header center">
            <h4>To Do</h4>
        </li>
        @foreach (var task in Model.TaskL1)
        {
        <li class="collection-item">
            <div class="card hoverable blue-grey">
                <div class="card-content white-text activator">
                    <span class="card-title center-align"> @task.Title </span>
                    <br>
                    <br>
                    <br>
                    <a asp-controller="Tasks" asp-action="Open" asp-route-id="@task.Id" class="waves-effect waves-light btn-small center-align">open
                        <i class="material-icons">present_to_all</i></a>
                </div>
                <div class="card-reveal blue-grey white-text">
                    <span class="card-title white-text text-darken-4 center-align">@task.Title<i class="material-icons right">close</i></span>
                    <p class="flow-text">@task.Description</p>
                    <a asp-controller="Tasks" asp-action="Open" asp-route-id="@task.Id" class="waves-effect waves-light btn-small center-align">open
                        <i class="material-icons">present_to_all</i></a>
                </div>
            </div>

        </li>
        }
    </ul>

    <ul class="collection with-header col s12 m4 l4">
        <li class="collection-header center">
            <h4>In Progress</h4>
        </li>
        @foreach (var task in Model.TaskL2)
        {
       <li class="collection-item">
            <div class="card hoverable blue-grey">
                <div class="card-content white-text activator">
                    <span class="card-title center-align"> @task.Title </span>
                    <br>
                    <br>
                    <br>
                    <a asp-controller="Tasks" asp-action="Open" asp-route-id="@task.Id" class="waves-effect waves-light btn-small center-align">open
                        <i class="material-icons">present_to_all</i></a>
                </div>
                <div class="card-reveal blue-grey white-text">
                    <span class="card-title white-text text-darken-4 center-align">@task.Title<i class="material-icons right">close</i></span>
                    <p class="flow-text">@task.Description</p>
                    <a asp-controller="Tasks" asp-action="Open" asp-route-id="@task.Id" class="waves-effect waves-light btn-small center-align">open
                        <i class="material-icons">present_to_all</i></a>
                </div>
            </div>

        </li>
        }
    </ul>

    <ul class="collection with-header col s12 m4 l4">
        <li class="collection-header center">
            <h4>Done</h4>
        </li>
        @foreach (var task in Model.TaskL3)
        {
        <li class="collection-item">
            <div class="card hoverable blue-grey">
                <div class="card-content white-text activator">
                    <span class="card-title center-align"> @task.Title </span>
                    <br>
                    <br>
                    <br>
                    <a asp-controller="Tasks" asp-action="Open" asp-route-id="@task.Id" class="waves-effect waves-light btn-small center-align">open
                        <i class="material-icons">present_to_all</i></a>
                </div>
                <div class="card-reveal blue-grey white-text">
                    <span class="card-title white-text text-darken-4 center-align">@task.Title<i class="material-icons right">close</i></span>
                    <p class="flow-text">@task.Description</p>
                    <a asp-controller="Tasks" asp-action="Open" asp-route-id="@task.Id" class="waves-effect waves-light btn-small center-align">open
                        <i class="material-icons">present_to_all</i></a>
                </div>
            </div>

        </li>
        }
    </ul>
</div>